* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Roboto';
}

header {
    border: solid black;
    border-radius: 10px;
    margin: 0 70px;
    padding: 30px;
    width: auto;
    height: 100%;
    background: darkgray;
    text-align: center;
    font-size: 30px;
}

h1 {
    text-align: center;
    margin-top: 5px;
}

.form {
    background: darkgray;
    text-align: center;
    margin: 10px 70px;

    border-radius: 10px;
    border: solid black;

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.form input {
    width: 60%;
}

.fields {
text-align: left;
margin-left: 20px;
}

.submit_button {
    width: 50%;

    margin-left: 25%;
    margin-top: 20px;
    margin-bottom: 10px;
}