{%extends 'layout.njk'%}

{%block content%}
<form action="/employee" method="POST" enctype="multipart/form-data">
    <h1>Novo Fucionário</h1>

    <div class="form">
        {%include 'fields.njk'%}
    </div>
    
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{%endblock content%}