<!DOCTYPE html>
<html>
    <head>
         <title>Employee Manager</title>
        <script src="scripts.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <header>Employee Manager</header>
    </body>

    {%block content %}{% endblock %}

</html>