{% extends "layout.njk" %}

{% block content %}
<h3>Detalhes</h3>

<div class="show">

    <div class="details">
        <h3>Foto</h3>
        <div>
            <img src="{{photoSrc}}" alt="{{photo.name}}" >
        </div>
    </div>

    <div class="details">
        <h3>Nome</h3>
        <div>{{employee.name}}</div>
    </div>

    <div class="details">
        <h3>Email</h3>
        <div>{{employee.email}}</div>
    </div>

    <div class="details">
        <h3>Telefone</h3>
        <div>{{employee.tel}}</div>
    </div>

    <div class="details">
        <h3>Data de nascimento</h3>
        <div>{{employee.birth}}</div>
    </div>

    <div class="details">
        <h3>CPF</h3>
        <div>{{employee.cpf}}</div>
    </div>

    <div class="details">
        <h3>Endereço</h3>
        <div>{{employee.address}}</div>
    </div>

    <div class="details">
        <h3>Setor</h3>
        <div>{{employee.sector_id}}</div>
    </div>

    <div class="details">
        <h3>Cargo</h3>
        <div>{{employee.position_id}}</div>
    </div>

    <button><a href="/employee/{{employee.id}}/edit">EDITAR</a></button>
</div>

{% endblock %} 